.margin_0{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main_bg{
    height: 100%;
    width: 100%;
    background-color: rgb(190, 211, 210);
}

.main_bg{
    height: 100%;
    width: 100%;
    background-color: rgb(190, 211, 210);
}

#root{
    display: block;
}

.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.toolbar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(77, 70, 85);
    position: relative;
}
.toolbar ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.toolbar a{
    color: beige;
    font-size: 25px;
    text-align: center;
    padding: 5px 5px;
    font-weight: 500;
}

.toolbar li{
    float:right;
    display: list-item;
}

.toolbar li a{
    display: block;
    color: #ececec;
    font-size: 20px;
    text-align: right;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: 600;
}


.toolbar img{
    height: 60px;
    width: 70px; 
    margin-left: 20px;
    position:relative;
}


.text1{
    position: relative;
    height: 60px;
    width: 100vw;
    padding: 30px 0 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

.text1 h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #41444b;
    text-decoration: underline;
    font-weight: 900;
    margin-bottom: 0;
}

.footer_define{
    margin-top: 80px;
    /* margin: 0; */
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #41444b;
}

.footer_define p{
    color: #ececec;
    padding: 0 16px;
    display: block;
    margin-top: 200px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.detector_box{
    position: relative;
    height: 100%;
    width: 100vw;
    padding: 30px 0 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
    display: flex;
}


.card > p {
    text-align: center;
    align-items: center;
}

.file{
    margin-top: 30px;
    align-self: center;
    background-color: #6e6d6d;
    border-radius: 5px;
    height: 20px;
    width: 90px;
    border: 1px solid #6e6d6d;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    padding: 13px 40px;
    text-decoration: none;
    text-shadow: 0 1px 0 #6e6d6d;
}

.file input{
    position: relative;
    top: -23px;
    right: 55px;
    margin: 0;
    padding: 0 35px;
    font-size: 20px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    opacity: 0;
    display: -ms-flexbox;
    display: flex;
}

.submit{
    margin-top: 40px;
    align-self: center;
    background-color: #6e6d6d;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    border: 1px solid #6e6d6d;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    padding: 13px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 #6e6d6d;
}

.image-preview__image{
    display: none;
    width: 100%;
}

.card{
    margin-top: 35px;
    align-self: center;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 150px;
    width: 300px;
    border: 2px solid #6e6d6d;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-color: #8793a3;
    align-items: center;
    justify-content: center;
    display: flex;
    /*  */
    /*  */
}