{% extends "index.html" %}

{% block content %}

<html>
   <body>
    <div class="card" id="imagePreview">
        <img src="" alt="Image Preview" class="image-preview__image">
        <span class="image-preview__default-text">Image Preview</span>
    </div>
    <div class="file">
        <span>choose file</span>
        <input type="file" accept="image/jpg image/png" name="inpFile" id="inpFile">
        <script src="/static/main.js"></script>
    </div>
    <button class="submit" type="submit">Submit</button>
    </body>
</html>

{% endblock %}